<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="https://twitter.com/MarcBielas">Twitter</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br><br>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/marcbielas">github.com/marcbielas</a></li>
	        		<li>marc[at]bielas[dot]com</li>
				</ul>
			</footer>
		</body>
	</html>
